fastapi[standard]==0.115.0
marqo==3.9.2
semantic-text-splitter==0.19.0
transformers==4.47.0
datasets==3.2.0
chromadb==0.6.3
pysqlite3-binary==0.5.4
sentence-transformers==3.3.1
pymilvus==2.5.3
scikit-learn==1.6.1